.global-link {
    color: #007185;
}

.global-link:hover {
    color: orange;
    text-decoration: underline;
  }

  .singleBtn:hover {
    background-color: lightgray !important;
  }

  .cartBtn:hover {
    background-color: #febd69 !important;
  }